beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
cssselect==1.1.0
idna==2.10
lxml==4.6.2
pafy==0.5.5
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2
pyquery==1.4.3
PyYAML==5.3.1
requests==2.25.0
selenium==3.141.0
soupsieve==2.0.1
urllib3==1.26.2
youtube-dl==2020.12.2
youtube-transcript-api==0.3.1
